version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: symfony-backend
    volumes:
      - ../:/var/www/html
    ports:
      - "8000:8000"
    command: php -S 0.0.0.0:8000 -t public
